/* movies css */

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
  }
  .banner {
    background-image: url("/resources/tmnt/bannerbg.png");
    background-repeat: repeat;
    text-align: center;
    height: 50px;
  }
  .container1 {
    margin: auto;
    max-width: 800px;
    border-width: 4px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    overflow: auto;
  }
  body {
    background-image: url("/resources/tmnt/background.png");
    font-size: 10pt;
  }
  .right_section {
    float: right;
    width: 250px;
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
   
  }
  .left_section {
    width: 550px;
    overflow: auto;
    float: left;
  }
  .rbg {
    background-image: url("/resources/tmnt/rbg.png");
    background-repeat: repeat;
    height: 83px;
  }

  #d{
    font-size: 48pt;
    color: red;
    font-weight: bold;
    vertical-align: top;
  }
  .col_review{
    width: 47%;
    float: left;
    padding: 5px;
    margin:auto;
    overflow: auto;
  }
p#rev{
    font-size: 8;
    font-weight: bold;
    font-style: normal;
    background-color: #E8DC9B;
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding: 8px;
}
p{
   
    font-style: italic;
}
#icon{
    padding-right: 8px;
    float: left;
}
#critic{
    padding-right: 5px;
    float: left;
}
dl, dt, dd{
    font-weight: bold;
}
ul{
    list-style-type:none;
    list-style-position: inherit;
}

#x{
  background-color: #A2B964;
  text-align: center;
  overflow: auto;
  width: 550px;
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px ;

 
}
.sev{
  float: right;

}